.cv {
    font-family: Montserrat;
    margin-right: auto;
    margin-left: auto;
    max-width: 550px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,.3);
}

h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.25;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.25;  
}

a {
 font-size: 17px;
}